DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=django_orm_products
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password_without_quotes
DATABASE_HOST=localhost
DATABASE_PORT=5432

ENV_SECRET_KEY=paste_your_secret_key_here
EMAIL_HOST_USER=paste_your_email_host
EMAIL_HOST_PASSWORD=paste_your_password_here

CACHE_ENABLED=True
CACHES_BACKEND=django.core.cache.backends.redis.RedisCache
CACHES_LOCATION=redis://127.0.0.1:6379