{% extends 'catalog/home.html' %}
<!--{% load my_tags %}-->
{% block content %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Добавление продукта</h4>
                    </div>
                    <div class="card-body">

                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                        <a href="{% url 'catalog:product_list' %}" type="button" class="btn btn-primary">Назад</a>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Добавление версии продукта</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}